@model IEnumerable<Subject>
@{
    ViewData["Title"] = "HandleCategories";
}
    <link href="~/css/HandleCategoryStyle.css" rel="stylesheet" asp-append-version="true" />
<form action="SearchSubjects" method="get">
    <span>Enter Subject Title</span>
    <input type="text" name="title" />
    <input type="submit" value="Search" />
</form>
<hr />
@if (Model != null)
{
<div id="container">
    <ul id="categoriesList">
        @foreach (var item in Model)
        {
            <li>Posted By:@item.User.Username</li>
            <li>Date of Post:@item.Date</li>
            if (item.User.ProfilePicturePath != null)
            {
                <li><img src="/Pictures/@item.User.ProfilePicturePath" /></li>
            }
            <li>Title:@item.Title</li>
            <li>Description:@item.Description</li>
            <li><a asp-action="Details" asp-controller="Subject" asp-route-id="@item.Id">See Subject</a></li>
        }
    </ul>
</div>
}


@if (Model.Count() <= 0)
{
    <h1>No Subjects to show</h1>
}
        
